body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-section, .info-section, .quote-section, .action-section, .footer {
    padding: 0 10%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.logo-text {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bolder;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-left: 16px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    display: flex;
    padding: 0;
    margin: 64px 0;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.hero-left h1, p {
    margin: 0;
    padding: 0;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 16px 0;
}

button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    width: 128px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 0;
}

.hero-left button {
    background-color: #3882f3;
    color: #f9faf8;
    margin: 16px 0;
}

.hero-right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}

.hero-right img {
    height: auto;
    width: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
}

.item-section {
    display: flex;
}

.info-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 64px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0 16px;
}

.item {
    height: 128px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #1f2937;
    border: solid #1f2937 2px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.item-container p {
    text-align: center;
    font-size: 18px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 64px 0;
}

.quote-section p {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-section a {
    text-decoration: none;
    color: #1f2937;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.action-container {
    display: flex;
    background-color: #3882f3;
    justify-content: space-between;
    padding: 16px 64px;
    border-radius: 8px;
    margin: 64px 0;
}

.action-left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 16px;
}

h3 {
    font-weight: bolder;
    margin: 0;
}

.action-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-right button {
    background-color: #3882f3;
    color:#e5e7eb;
    border: solid 2px #e5e7eb;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 16px 0;
}

.footer a {
    text-decoration: underline;
    color: #e5e7eb;
}